doctype html
html
	head
		title «7 Студио»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		section.amrest-redesign
			div.amrest-redesign__header
				div.amrest-redesign__header-slider
					div.amrest-redesign__header-slider-wrapper
						span
						span
						div.amrest-redesign__header-slides
							ul
								li
									h2 Редизайн сайта для<br>
										|компании-представителя брендов<br>
										|KFC, Starbucks и Pizza Hut
									p  Основной задачей было разработать сайт для<br>
										|рекрутинговых целей компании Амрест. Поэтому, основными<br>
										|пунктами для разработки стали функциональность, простой интерфейс, возможность быстрого заполнения анкеты и связи с<br>
										|менеджером, ну и конечно направленность на молодежную и<br>
										|активную аудиторию.
			div.amrest-redesign__features
				div.amrest-redesign__features-pencil
				ul
					li Информационная часть
					li Персональные страницы брендов
					li Анкеты, тесты
					li Личные кабинеты
					li Культурный календарь событий
					li Карта ресторанов
				img.amrest-redesign__features-site-photo(src='images/amrest-redesign__features-site-photo.jpg')
			div.amrest-redesign__interface
				h2 Элементы интерфейса
				img.amrest-redesign__interface-elements(src='images/amrest-redesign__interface-elements.png' alt='amrest-redesign__interface-elements')
				div.amrest-redesign__interface-emoji
			div.amrest-redesign__brend-pages
				h2 Страницы брендов
			div.amrest-redesign__calendar
				h2 Культурный календарь
				p В рамках Культурного календаря мы предлагаем широкий спектр конкурсов, турниров, обучающих и развлекательных встреч. Это позволяет каждому максимально реализовать свои спортивные, интеллектуальные, творческие амбиции, продемонстрировать свои таланты и, конечно, еще больше сплотиться.
				div.amrest-redesign__calendar-screen
			div.amrest-redesign__archive
				h2 Архив выпусков журнала AmRestLink
			div.amrest-redesign__account
				h2 Личные кабинеты и<br>
					|персональные анкеты для сотрудников
				
			footer.portfolio-footer.portfolio-footer--amrest-redesign
				a.portfolio-footer__prices(href='#') Смотреть цены
				div.portfolio-footer__logo
					div.portfolio-logo
						img(src='images/amrest-redesign-logo.png' alt='amrest-redesign-logo')
					a.portfolio-footer__site(href='#') Перейти на сайт
				a.portfolio-footer__order(href='#') Заказать сайт