doctype html
html
	head
		title «7 Студио»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		div.amrest-business-school-header.h1-wrap
			div.breadcrumbs-wrap
				|#BREADCRUMBS#
			h1
				img(src='images/amrest-business-school-logo.png' alt='amrest-business-school-logo')

		section.amrest-business-school
			div.amrest-business-school__promo
				h2 Сайт для одной из ведущих бизнес-школ в России
				p Создание корпоративного сайта для студии иностранных языков. Сайт по инициативе заказчика не обладает богатым функционалом, кроме онлайн-тестирования, но при этом является крепким интернет-ресурсом отражающим успешную деятельность компании и известность на рынке. Сайт создает благоприятное впечатление. Разработан на CMS "1C-Битрикс".
			div.amrest-business-school__development
				h2 Процесс разработки
				div.amrest-business-school__development-wrapper
					p Портал ориентирован на потребителей, занятых в бизнесе эксплуатации, ремонта и строительства коммерческого флота.<br>
						|Цели создания сайта - биржа товаров (маркетплейс), удобная для целевой аудитории при продаже или закупке оборудования
			div.amrest-business-school__icons
				h2 Иконки
			div.amrest-business-school__features
			div.amrest-business-school__cases
				div.amrest-business-school__cases-wrapper
					h2 Бизнес кейсы
					p Бизнес-кейс — это описание конкретной задачи или проблемы, стоящей перед компанией. Размер бизнес-кейса может варьироваться от одной страницы до тридцати и более, но в основе каждого из них лежит следующая логика: история компании, ее место на рынке, описание проблемы, с которой компания сталкивается и основные финансовые показатели компании и отрасли в целом.
			div.amrest-business-school__trainings
				h2 Тренинги и<br>
					|семинары
			div.amrest-business-school__macbook
				
		footer.portfolio-footer.portfolio-footer--amrest-business-school.price-block
			a.portfolio-footer__prices.price(href='/prices/creation-of-sites/') Смотреть цены
			a.portfolio-footer__logo.link(href='#' target='_blank')
				div.portfolio-logo
					img(src='images/amrest-business-school-logo.png' alt='amrest-business-school-logo')
				div.portfolio-footer__site Перейти на сайт
			a.portfolio-footer__order.order(href='#') Заказать сайт