doctype html
html
	head
		title «7 Студио»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		div.sdelay-delo-app-header.h1-wrap
			div.breadcrumbs-wrap
				|#BREADCRUMBS#
			h1
				img(src='images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile-logo.png' alt='sdelay-delo-mobile-logo')

		section.sdelay-delo-app
			div.sdelay-delo-app__promo
				h2 Мобильное приложение<br>
					|для поиска исполнителей и заказчиков<br>
					|для решения задач
				p Сайт по инициативе заказчика не обладает богатым функционалом, кроме онлайн-тестирования, но при этом является крепким<br>
					|интернет-ресурсом отражающим успешную деятельность компании и известность на рынке. Сайт создает благоприятное<br>
					|впечатление. Разработан на CMS "1C-Битрикс".
				ul.sdelay-delo-app__promo-list
					li
						h3 35
						p скринов
					li
						h3 Material Design
						p принцип
					li
						h3 150+
						p элементов
				div.sdelay-delo-app__promo-img
					img(src='images/portfolio-sdelay-delo-app/sdelay-delo-app__promo-bg-1.png' alt='img')
				div.sdelay-delo-app__promo-box

			div.sdelay-delo-app__guidelines
				div.sdelay-delo-app__guidelines-wrapper
					h2 Ориентиры
					p
						b При проектировании мобильного приложения возникают следующие вопросы:
					p Переносить ли полностью весь функционал или только часть?<br>
						|Какие нужно учитывать особенности мобильного устройства кроме «размера экрана» или «отсутствия нормальной клавиатуры и мыши»?<br>
						|Какие есть практические рекомендации при проектировании мобильных приложений под iOS и Android?
					p
						b Мы знаем об особенностях интерфейса каждой из платформ. Например, о том, что часть функций на Android выполняется кнопками на самом телефоне, а не на экране.<br>
							|За основу проектирования был взят принцип Material Design, однако, для того, чтобы спроектировать эффективное и успешное приложение, недостаточно просто следовать стандартам, поэтому мы применить комплексный подход, учитывающий все особенности функционала web-версии сайта Cделай Дело.

			div.sdelay-delo-app__features
				div.sdelay-delo-app__features-wrapper
					h2 Особенности проектирования
					div.sdelay-delo-app__features-img
						img(src='images/portfolio-sdelay-delo-app/sdelay-delo-app__features-img-1.png' alt='img')
					div.sdelay-delo-app__features-img
						img(src='images/portfolio-sdelay-delo-app/sdelay-delo-app__features-img-2.png' alt='img')
					h3 Карта<br> взаимодействия

			div.sdelay-delo-app__interface
				div.sdelay-delo-app__interface-wrapper
					h2 Элементы пользовательского интерфейса
					div.sdelay-delo-app__interface-img
						img(src='images/portfolio-sdelay-delo-app/sdelay-delo-app__interface-bg-1.png' alt='img')

			div.sdelay-delo-app__elements
				div.sdelay-delo-app__elements-wrapper.clearfix
					h3.sdelay-delo-app__elements-form Форма входа
					h3.sdelay-delo-app__elements-title-1 Меню<br>профиля
					h3.sdelay-delo-app__elements-title-2 Floating action<br>button

			div.sdelay-delo-app__end

		footer.portfolio-footer.portfolio-footer--sdelay-delo-mobile.price-block
			a.portfolio-footer__prices.price(href='/prices/creation-of-sites/') Смотреть цены
			a.portfolio-footer__logo.link(href='#' target='_blank')
				div.portfolio-logo
					img(src='images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile-logo.png' alt='sdelay-delo-mobile-logo')
				div.portfolio-footer__site Перейти на сайт
			a.portfolio-footer__order.order(href='#') Заказать сайт