doctype html
html
	head
		title «7 Студио»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		div.sdelay-delo-mobile-header.h1-wrap
			div.breadcrumbs-wrap
				|#BREADCRUMBS#
			h1
				img(src='images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile-logo.png' alt='sdelay-delo-mobile-logo')

		section.sdelay-delo-mobile
			div.sdelay-delo-mobile__promo
				div.sdelay-delo-mobile__promo-wrapper
					h2 Мобильная версия сайта поиска исполнителей и заказчиков<br>
						|для решения задач
					p
						|Сайт по инициативе заказчика не обладает богатым функционалом, кроме онлайн-тестирования, но при этом является крепким интернет-ресурсом отражающим успешную деятельность компании и известность на рынке. Сайт создает благоприятное впечатление. Разработан на CMS "1C-Битрикс".
			div.sdelay-delo-mobile__features
				div.sdelay-delo-mobile__features-header
				div.sdelay-delo-mobile__features-bag
					img(src='images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-bag.png' alt='sdelay-delo-mobile__features-bag')
				div.sdelay-delo-mobile__features-wrapper
					ul.sdelay-delo-mobile__features-list
						li
							h2 Главный экран
							p
								|Перед нами встала непростая задача: поместить в первый экран весь функционал главной страницы web-версии Сделай Дело, при этом чрезмерно не перегружать его. Объемные блоки разделов было принято решение „упаковать” в компактное раздвижное меню
						li
							h3 Cкрытые возможности экрана
							p
								|стали вторым этапом  на  пути к созданию красивого и удобного инерфейса
						li
							h3 Дополнительное меню
							p
								|Сервисное меню всегда в   быстром доступе для пользователя
			div.sdelay-delo-mobile__forms
				div.sdelay-delo-mobile__forms-wrapper
					h2 Некоторые формы...
			div.sdelay-delo-mobile__map
				div.sdelay-delo-mobile__map-wrapper
					div.sdelay-delo-mobile__map-text
						h2 Интерактивная<br>
							|карта с заданиями
						p Каждый зарегистрированный пользователь независимо от статуса (Заказчик или Исполнитель) имеет Личный кабинет на сайте. Функционал личного кабинета включает в себя такие возможности, как: личных данные, рейтинг на сайте, уведомления, возможность пополнения счета и многое другое.
			div.sdelay-delo-mobile__pages
				div.sdelay-delo-mobile__pages-wrapper
				
		footer.portfolio-footer.portfolio-footer--sdelay-delo-mobile.price-block
			a.portfolio-footer__prices.price(href='/prices/creation-of-sites/') Смотреть цены
			a.portfolio-footer__logo.link(href='#' target='_blank')
				div.portfolio-logo
					img(src='images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile-logo.png' alt='sdelay-delo-mobile-logo')
				div.portfolio-footer__site Перейти на сайт
			a.portfolio-footer__order.order(href='#') Заказать сайт