doctype html
html
	head
		title «7 Студио»
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='style.css')
	body
		div.medart-mobile-header.h1-wrap
			h1
				img(src='images/medart-mobile-logo.png' alt='medart-mobile-logo')
		section.medart-mobile
			div.medart-mobile__promo
				h2 Мобильная версия сайта<br>
					|многопрофильной медицинской клиники "Мед Арт"
				p Специалисты многопрофильной медицинской клиники "Мед-Арт" успешно помогают решать различные проблемы со здоровьем, будь то вопросы репродуктологии и планирования семьи, гинекологии и урологии, дерматологии, неврологии. Клиника "Мед Арт" оснащена всем необходимым современным оборудованием, позволяющим проводить диагностику и эффективное лечение.<br>
					|Сайт содержит полную и необходимую информацию о работе клиники по каждому направлению. Можно ознакомиться с новостями, интересными статьями, заболеваниями, акциями на лечение. Удобные формы позволяют записаться на прием к специалисту или заказать обратный звонок. Вся информация представлена в удобной форме и позволяет быстро найти нужные данные, как телефон клиники так и информацию о конкретной проблеме.
			div.medart-mobile__features
			div.medart-mobile__navigation
				div.medart-mobile__navigation-wrapper
					p Боковая навигация предоставляет пользователю быстрейший способ добраться до разделов сайта без необходимости покидать текущий экран.
				
		footer.portfolio-footer.portfolio-footer--medart
			a.portfolio-footer__prices(href='#') Смотреть цены
			div.portfolio-footer__logo
				div.portfolio-logo
					img(src='images/medart-mobile-logo.png' alt='medart-mobile-logo')
				a.portfolio-footer__site(href='#') Перейти на сайт
			a.portfolio-footer__order(href='#') Заказать сайт