/*general*/
html, body, p, h1, h2, h3, h4 { margin: 0; padding: 0; }

ul { margin: 0; padding: 0; list-style: none; }

.clearfix::after { clear: both; display: table; content: ''; }

/*end of general*/
/*fonts*/
@font-face { font-family: Ubuntu-Regular; src: url(fonts/Ubuntu-Regular.ttf); font-weight: normal; }

@font-face { font-family: PT-Sans-Pro-Caption; src: url(fonts/PT-Sans-Pro-Caption.otf); font-weight: normal; }

@font-face { font-family: PT-Sans-Pro-Caption; src: url(fonts/PT-Sans-Pro-Caption.ttf); font-weight: normal; }

@font-face { font-family: PT-Sans-Regular; src: url(fonts/PT-Sans-Regular.ttf); font-weight: normal; }

@font-face { font-family: TT-Slabs-Bold; src: url(fonts/TT-Slabs-Bold.otf); font-weight: normal; }

@font-face { font-family: TT-Slabs-Bold; src: url(fonts/TT-Slabs-Bold.ttf); font-weight: normal; }

@font-face { font-family: MyriadPro-Regular; src: url(fonts/MyriadPro-Regular.otf); font-weight: normal; }

@font-face { font-family: MyriadPro-Regular; src: url(fonts/MyriadPro-Regular.ttf); font-weight: normal; }

@font-face { font-family: TT-Slabs-Regular; src: url(fonts/TT-Slabs-Regular.otf); font-weight: normal; }

@font-face { font-family: TT-Slabs-Regular; src: url(fonts/TT-Slabs-Regular.ttf); font-weight: normal; }

@font-face { font-family: PT-Serif-Pro-Narrow-Book; src: url(fonts/PT-Serif-Pro-Narrow-Book.otf); font-weight: normal; }

@font-face { font-family: PT-Serif-Pro-Narrow-Book; src: url(fonts/PT-Serif-Pro-Narrow-Book.ttf); font-weight: normal; }

@font-face { font-family: PT-Serif-Pro-Bold; src: url(fonts/PT-Serif-Pro-Bold.otf); font-weight: normal; }

@font-face { font-family: PT-Serif-Pro-Bold; src: url(fonts/PT-Serif-Pro-Bold.ttf); font-weight: normal; }

@font-face { font-family: Neris-Thin; src: url(fonts/Neris-Thin.otf); font-weight: normal; }

@font-face { font-family: Neris-Thin; src: url(fonts/Neris-Thin.ttf); font-weight: normal; }

@font-face { font-family: Roboto-Bold; src: url(fonts/Roboto-Bold.ttf); font-weight: normal; }

@font-face { font-family: Roboto-Regular; src: url(fonts/Roboto-Regular.ttf); font-weight: normal; }

/*end of fonts*/
/*portfolio-footer*/
.portfolio-footer { min-height: 280px; min-width: 1260px; background: url("images/diamind-footer-bg.jpg") no-repeat center 0; font-size: 0; text-align: center; }

.portfolio-footer__prices { margin: 115px 90px 0 0; padding: 30px 0; width: 295px; display: inline-block; vertical-align: top; border: 1px solid #000; border-radius: 8px; font-family: PT-Sans-Pro-Caption, Helvetica, sans-serif; font-size: 26px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.portfolio-footer__logo { margin: 75px 90px 0 0; display: inline-block; vertical-align: top; width: 265px; text-align: center; text-decoration: none; color: #000; }

.portfolio-footer__logo img { max-width: 100%; }

.portfolio-footer__site { margin: 30px 0 0; padding: 0 0 0 30px; display: inline-block; vertical-align: top; background: url("images/diamind-footer__site.png") no-repeat 0 center; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.portfolio-footer__order { margin: 115px 0 0 0; padding: 20px 0 0; box-sizing: border-box; display: inline-block; vertical-align: top; width: 324px; height: 86px; background: url("images/portfolio-footer__order.png") no-repeat 0 0; font-family: PT-Sans-Regular, Helvetica, sans-serif; font-size: 35px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.portfolio-footer--amrest-redesign { background: url("images/amrest-redesign-bg.jpg") repeat center 0; min-width: 1260px; }

.portfolio-footer--amrest-redesign .portfolio-footer__logo { margin-top: 40px; }

.portfolio-footer--shipstores { background: url("images/shipstores-portfolio-header__bg--blue.jpg") repeat center 0; }

.portfolio-footer--shipstores .portfolio-footer__logo { width: auto; margin-top: 110px; }

.portfolio-footer--ampeople { background: url("images/ampeople-portfolio-footer.jpg") repeat center 0; }

.portfolio-footer--ampeople .portfolio-footer__logo { margin-top: 40px; }

.portfolio-footer--old-coin { background: #d6d4bb; }

.portfolio-footer--old-coin .portfolio-footer__logo { margin-top: 140px; }

.portfolio-footer--old-coin .portfolio-footer__logo:hover, .portfolio-footer--old-coin .portfolio-footer__logo:focus { text-decoration: none; }

.portfolio-footer--old-coin .portfolio-footer__logo h2 { margin: 0; font-family: PT-Serif-Pro-Narrow-Book, Helvetica, sans-serif; font-size: 32px; line-height: 1.2em; font-weight: 400; color: #333129; text-transform: uppercase; text-decoration: none; letter-spacing: 0; text-align: center; }

.portfolio-footer--old-coin .portfolio-footer__site { display: none; }

.portfolio-footer--medart { background: #e2abac; }

.portfolio-footer--medart .portfolio-logo { margin: 0 auto; width: 210px; }

.portfolio-footer--medart .portfolio-footer__site { background: url("images/portfolio-footer__site--white.png") no-repeat 0 5px; color: #fff; }

.portfolio-footer--dom-ant-mobile { min-height: 269px; background: url("images/dom-ant-mobile-footer-bg.jpg") repeat-x center top; }

.portfolio-footer--dom-ant-mobile .portfolio-footer__site { background: url("images/portfolio-footer__site--white.png") no-repeat 0 5px; color: #fff; }

.portfolio-footer--sdelay-delo-mobile { min-height: 280px; background: #e6eaf6; }

.portfolio-footer--sdelay-delo-mobile .portfolio-footer__logo { margin-top: 110px; }

.portfolio-footer--amrest-business-school { min-height: 280px; background: #efefef; }

.portfolio-footer--amrest-business-school .portfolio-footer__logo { margin-top: 110px; }

/*end of portfolio-footer*/
/*DIAMIND*/
/*diamind*/
.diamind { margin: 0 auto; max-width: 1366px; min-width: 1260px; }

.diamind__content-1 { margin: 0 auto; padding: 70px 0 0; box-sizing: border-box; min-height: 1138px; max-width: 1366px; background: url("images/diamind-bg-1.jpg") no-repeat center top; box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.25); }

.diamind__content-1 h2 { margin: 0 auto 45px; width: 580px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.diamind__content-1 p { margin: 0 auto; width: 580px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.diamind__content-2 { margin: 0 auto 125px; min-height: 917px; max-width: 1366px; background: url("images/diamind-bg-2.jpg") repeat-x 0 0; position: relative; }

.diamind__content-2-bg { position: absolute; bottom: -125px; left: 0; height: 295px; width: 100%; background: url("images/diamind-bg-2__img-2.png") no-repeat 0 0; }

.diamind__content-2-img { display: block; position: absolute; top: -141px; left: 50%; line-height: 0; }

.diamind__content-2-img img { margin: 0 0 0 -512px; box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); }

.diamind__content-3 { margin: 0 auto; max-width: 1366px; background: url("images/diamind-bg-3.jpg") repeat 0 0; position: relative; }

.diamind__content-3-cup { display: block; width: 260px; position: absolute; top: -70px; right: 10px; }

.diamind__content-3 h2 { margin: 0 auto 55px; font-family: Verdana, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.diamind__content-3 p { margin: 0 auto 70px; width: 930px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; font-style: italic; }

.diamind__content-3 .prototypes { margin: 0 auto; font-size: 0; text-align: center; }

.diamind__content-3 .prototypes li { margin: 0 50px 0 0; display: inline-block; vertical-align: top; }

.diamind__content-3 .prototypes li:last-child { margin: 0; }

.diamind__content-3 .wrapper { overflow: hidden; }

.diamind__content-3 .bottom { margin: 0 0 0 -681px; height: 170px; max-width: 100%; position: relative; }

.diamind__content-3 .bottom span { display: block; position: absolute; bottom: 0; left: 50%; border-left: 683px solid transparent; border-top: 85px solid transparent; border-right: 683px solid #eea220; border-bottom: 85px solid #eea220; }

.diamind__content-4 { padding: 205px 0 0; min-height: 2280px; box-sizing: border-box; background: #eea220 url("images/diamind-bg-4.jpg") no-repeat center 60px; font-size: 0; text-align: center; position: relative; }

.diamind__content-4 h2 { margin: 0 130px 0 0; display: inline-block; vertical-align: top; font-family: Verdana, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.diamind__content-4 h2:last-child { margin: 0 auto; display: block; width: 1220px; }

.diamind__content-4 p { margin: 0 0 400px; display: inline-block; vertical-align: top; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.5em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: -.05em; text-align: left; font-style: italic; }

.diamind__content-5 { background: url("images/diamind-bg-5.jpg") no-repeat center 0; min-height: 2079px; }

.diamind__content-6 { background: url("images/diamind-bg-6.jpg") no-repeat center 0; min-height: 787px; }

.diamind__content-7 { background: url("images/diamind-bg-7.jpg") no-repeat center 0; min-height: 881px; }

/*end of diamind*/
/*diamind-header*/
.diamind-header, .portfolio-diamind .h1-wrap { margin: 0 auto; padding: 0; box-sizing: border-box; width: 100%; max-width: 1366px; background: url("images/diamind-header-bg.jpg") no-repeat center top; min-height: 131px; text-align: center; }

.diamind-header h1, .portfolio-diamind .h1-wrap h1 { margin: 32px 0 0; }

/*end of diamind-header*/
/*diamind-logo*/
.diamind-logo { display: inline-block; vertical-align: top; line-height: 0; }

.diamind-logo img { max-width: 100%; }

/*end of diamind-logo*/
/*diamind-footer*/
.diamind-footer { min-height: 280px; background: url("images/diamind-footer-bg.jpg") no-repeat center 0; font-size: 0; text-align: center; }

.diamind-footer__prices { margin: 115px 90px 0 0; padding: 30px 0; width: 295px; display: inline-block; vertical-align: top; border: 1px solid #000; border-radius: 8px; font-family: PT-Sans-Pro-Caption, Helvetica, sans-serif; font-size: 26px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.diamind-footer__logo { margin: 75px 90px 0 0; display: inline-block; vertical-align: top; width: 265px; text-align: center; }

.diamind-footer__site { margin: 30px 0 0; padding: 0 0 0 30px; display: inline-block; vertical-align: top; background: url("images/diamind-footer__site.png") no-repeat 0 center; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.diamind-footer__order { margin: 115px 0 0 0; padding: 20px 0 0; box-sizing: border-box; display: inline-block; vertical-align: top; width: 324px; height: 86px; background: url("images/diamind-footer__order.png") no-repeat 0 0; font-family: PT-Sans-Regular, Helvetica, sans-serif; font-size: 35px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

/*end of diamind-footer*/
/*end of DIAMIND*/
/*AMREST REDESIGN*/
/*amrest-redesign*/
.amrest-redesign { margin: 0 auto; max-width: 1366px; min-width: 1260px; }

.amrest-redesign .h1-wrap h1 { margin: 0; }

.amrest-redesign .h1-wrap .breadcrumbs-wrap { z-index: 2; }

.amrest-redesign__header { min-height: 698px; background: url("images/amrest-redesign__header-bg.jpg") no-repeat center 0; box-shadow: inset 0 -8px 8px -5px rgba(0, 0, 0, 0.5); position: relative; z-index: 1; }

.amrest-redesign__header-slider { position: absolute; bottom: -90px; left: 50%; }

.amrest-redesign__header-slider-wrapper { width: 1180px; margin: 0 0 0 -590px; }

.amrest-redesign__header-slider-wrapper span { display: block; width: 158px; height: 138px; }

.amrest-redesign__header-slider-wrapper span:first-of-type { float: left; background: url("images/amrest-redesign__header-slider-left.png") no-repeat 0 0; }

.amrest-redesign__header-slider-wrapper span:last-of-type { float: right; background: url("images/amrest-redesign__header-slider-right.png") no-repeat 0 0; }

.amrest-redesign__header-slides ul { margin: 0 auto; width: 700px; }

.amrest-redesign__header-slides ul li { padding: 45px 35px 40px; box-sizing: border-box; background: url("images/amrest-redesign__header-slider-bg.png") repeat 0 0; }

.amrest-redesign__header-slides ul li h2 { margin: 0 0 55px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.amrest-redesign__header-slides ul li p { margin: 0; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 27px; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; font-style: italic; }

.amrest-redesign__features { padding: 145px 0 50px; box-sizing: border-box; background: url("images/amrest-redesign-bg.jpg") repeat 0 0; line-height: 0; position: relative; }

.amrest-redesign__features-pencil { position: absolute; top: 10px; right: 40px; background: url("images/amrest-redesign__features-pencil.png") no-repeat 0 0; background-size: 100%; width: 447px; height: 220px; }

.amrest-redesign__features ul { margin: 0 auto 30px; width: 1180px; font-size: 0; }

.amrest-redesign__features ul li { display: inline-block; vertical-align: top; width: 33.33%; min-height: 160px; padding: 67px 0 0; box-sizing: border-box; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: uppercase; text-decoration: none; letter-spacing: 0; text-align: center; font-style: italic; }

.amrest-redesign__features ul li:first-child { background: url("images/amrest-redesign__feature-1.png") no-repeat center center; }

.amrest-redesign__features ul li:nth-child(2) { background: url("images/amrest-redesign__feature-2.png") no-repeat center center; }

.amrest-redesign__features ul li:nth-child(3) { background: url("images/amrest-redesign__feature-3.png") no-repeat center center; }

.amrest-redesign__features ul li:nth-child(4) { min-height: 180px; background: url("images/amrest-redesign__feature-4.png") no-repeat center 15px; }

.amrest-redesign__features ul li:nth-child(5) { background: url("images/amrest-redesign__feature-5.png") no-repeat center 10px; }

.amrest-redesign__features ul li:last-child { background: url("images/amrest-redesign__feature-6.png") no-repeat center top; }

.amrest-redesign__features-site-photo { margin: 0 auto; display: block; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25); }

.amrest-redesign__interface { padding: 50px 0 0; background: url("images/amrest-redesign-bg.jpg") repeat 0 0; }

.amrest-redesign__interface h2 { margin: 0 80px 55px; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #cbcbcb; text-transform: none; text-decoration: none; letter-spacing: 0; }

.amrest-redesign__interface-elements { margin: 0 auto; display: block; }

.amrest-redesign__interface-emoji { background: url("images/amrest-redesign__interface-emoji.jpg") no-repeat center top; min-height: 949px; }

.amrest-redesign__brend-pages { padding: 95px 0 0; box-sizing: border-box; min-height: 1862px; background: url("images/amrest-redesign__brend-pages.jpg") no-repeat center top; }

.amrest-redesign__brend-pages h2 { margin: 0; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #cbcbcb; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.amrest-redesign__calendar { padding: 30px 0 0; background: #e9e9e9; }

.amrest-redesign__calendar h2 { margin: 0 80px 55px; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #cbcbcb; text-transform: none; text-decoration: none; letter-spacing: 0; }

.amrest-redesign__calendar p { margin: 0 80px 55px; max-width: 840px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #cbcbcb; text-transform: none; text-decoration: none; letter-spacing: 0; font-style: italic; }

.amrest-redesign__calendar-screen { box-sizing: border-box; min-height: 1462px; background: url("images/amrest-redesign__calendar.jpg") no-repeat center top; }

.amrest-redesign__archive { min-height: 1466px; padding: 20px 0 0; box-sizing: border-box; background: url("images/amrest-redesign__archive.jpg") no-repeat center top; }

.amrest-redesign__archive h2 { margin: 0; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #cbcbcb; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.amrest-redesign__account { min-height: 2255px; padding: 20px 0 0; box-sizing: border-box; background: url("images/amrest-redesign__account.jpg") no-repeat center top; }

.amrest-redesign__account h2 { margin: 0; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

/*end of amrest-redesign*/
/*end of AMREST REDESIGN*/
/*SHIPSTORES*/
/*shipstores-portfolio-logo*/
.shipstores-portfolio-logo { display: inline-block; vertical-align: top; line-height: 0; }

.shipstores-portfolio-logo img { max-width: 100%; }

/*end of shipstores-portfolio-logo*/
/*shipstores-portfolio*/
.shipstores-portfolio { margin: 0 auto; max-width: 1366px; min-width: 1260px; }

.shipstores-portfolio p { padding: 0; }

.shipstores-portfolio__promo { min-height: 1976px; background: url("images/shipstores-portfolio__promo.jpg") no-repeat center top; }

.shipstores-portfolio__promo-text { margin: 0 auto; width: 735px; padding: 115px 0 0; text-align: center; }

.shipstores-portfolio__promo-text h2 { margin: 0 0 35px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; }

.shipstores-portfolio__promo-text p { margin: 0 auto; width: 650px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; }

.shipstores-portfolio__development { padding: 0 0 155px; background: #f4f4f4; text-align: center; position: relative; }

.shipstores-portfolio__development::after { content: ''; position: absolute; bottom: -115px; left: 0; right: 0; height: 215px; background: url("images/shipstores-portfolio__development-waves.png") repeat-x center 0; }

.shipstores-portfolio__development h2 { margin: 0 0 55px; font-family: Verdana, Helvetica, sans-serif; font-size: 60px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; }

.shipstores-portfolio__development p { margin: 0 auto 30px; width: 1150px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; font-style: italic; }

.shipstores-portfolio__development p:last-child { margin: 0 auto; }

.shipstores-portfolio__interface { padding: 145px 0 0; box-sizing: border-box; min-height: 2339px; background: #fafafa url("images/shipstores-portfolio__interface-bg.jpg") no-repeat center top; line-height: 0; }

.shipstores-portfolio__interface h2 { margin: 0 0 85px; font-family: Verdana, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 700; color: #576cb9; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.shipstores-portfolio__interface h2.grey { color: #afafaf; }

.shipstores-portfolio__interface p { margin: 0 auto; width: 1180px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.5em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; font-style: italic; }

.shipstores-portfolio__interface-structure, .shipstores-portfolio__interface-elements, .shipstores-portfolio__interface-icons { margin: 100px auto 60px; display: block; }

.shipstores-portfolio__interface-comment { margin: 70px auto 0; padding: 0 0 20px; width: 1140px; }

.shipstores-portfolio__interface-comment p { margin: 15px 0 0; float: left; width: 900px; }

.shipstores-portfolio__interface-comment p b { margin: 0 0 10px; display: block; }

.shipstores-portfolio__interface-comment img { display: block; float: right; max-width: 152px; }

.shipstores-portfolio__posibilities { padding: 165px 0 0; box-sizing: border-box; min-height: 2758px; background: url("images/shipstores-portfolio__posibilities-bg.jpg") no-repeat center top; }

.shipstores-portfolio__posibilities-auction { margin: 0 0 140px; font-size: 0; line-height: 0; text-align: center; position: relative; }

.shipstores-portfolio__posibilities-auction-screen { margin: 180px 60px 0 0; display: inline-block; vertical-align: top; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25); }

.shipstores-portfolio__posibilities-auction-text { margin: 0; display: inline-block; vertical-align: top; width: 320px; }

.shipstores-portfolio__posibilities-auction-text h2 { margin: 0 0 40px; font-family: Verdana, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 700; color: #0b68e4; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.shipstores-portfolio__posibilities-auction-text p { margin: 0; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.5em; font-weight: 400; color: #2078e7; text-transform: none; text-decoration: none; letter-spacing: 0; font-style: italic; text-align: left; }

.shipstores-portfolio__posibilities-auction-mask { position: absolute; bottom: 15px; right: 15px; }

.shipstores-portfolio__posibilities-finance { margin: 0 0 145px; text-align: center; line-height: 0; }

.shipstores-portfolio__posibilities-finance h2 { margin: 0 0 55px; font-family: Verdana, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 700; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.shipstores-portfolio__posibilities-finance-form { margin: 0; display: inline-block; vertical-align: top; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25); }

.shipstores-portfolio__posibilities-security { text-align: right; line-height: 0; }

.shipstores-portfolio__posibilities-security h2 { margin: 0 auto; width: 1150px; font-family: Verdana, Helvetica, sans-serif; font-size: 66px; line-height: 1.2em; font-weight: 700; color: #898989; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.shipstores-portfolio__posibilities-security-form { margin: -70px 40px 0 0; display: inline-block; vertical-align: top; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25); }

.shipstores-portfolio__bonus { padding: 40px 0 0; box-sizing: border-box; min-height: 1485px; background: url("images/shipstores-portfolio__bonus-bg.jpg") no-repeat center top; }

.shipstores-portfolio__bonus h2 { margin: 0 auto 70px; font-family: Verdana, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 700; color: #898989; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.shipstores-portfolio__bonus p { margin: 0 auto; max-width: 1050px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #5d5d5d; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; font-style: italic; }

/*end of shipstores-portfolio*/
/*shipstores-portfolio-header*/
.shipstores-portfolio-header { min-width: 1260px; min-height: 130px; box-sizing: border-box; text-align: center; background: url("images/shipstores-portfolio-header__bg.jpg") repeat center top; }

.shipstores-portfolio-header h1 { padding: 45px 0 0; margin: 0; }

/*end of shipstores-portfolio-header*/
/*end of SHIPSTORES*/
/*AMPEOPLE*/
/*ampeople-portfolio-header*/
.ampeople-portfolio-header { background: -webkit-linear-gradient(top, #fff, #eee); background: linear-gradient(to bottom, #fff, #eee); }

.ampeople-portfolio-header.h1-wrap .breadcrumbs-wrap { max-width: 1366px; min-width: 1260px; }

.ampeople-portfolio-header.h1-wrap h1 { margin: 0 auto; padding: 10px 0 20px; text-align: center; font-size: 0; line-height: 0; left: auto; }

.ampeople-portfolio-header.h1-wrap h1 span { margin: 0 20px -5px 0; display: inline-block; vertical-align: bottom; font-family: MyriadPro-Regular, Helvetica, sans-serif; font-size: 24px; line-height: 1.2em; font-weight: 400; color: #425051; text-transform: none; text-decoration: none; letter-spacing: 0; }

/*end of ampeople-portfolio-header*/
/**/
/*end of ampeople-portfolio*/
/*ampeople-portfolio*/
.ampeople-portfolio { margin: 0 auto; max-width: 1366px; min-width: 1260px; }

.ampeople-portfolio__promo { padding: 50px 0 0; box-sizing: border-box; min-height: 1475px; background: url("images/ampeople-portfolio__promo-bg.jpg") no-repeat center top; }

.ampeople-portfolio__promo h2 { margin: 0 0 45px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #50f8f6; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.ampeople-portfolio__promo p { margin: 0 auto; max-width: 900px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.ampeople-portfolio__comment { padding: 25px 75px; box-sizing: border-box; background: #a4d5da; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25); }

.ampeople-portfolio__comment p { margin: 0; float: left; max-width: 900px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.5em; font-weight: 400; color: #224347; text-transform: none; text-decoration: none; letter-spacing: 0; font-style: italic; }

.ampeople-portfolio__comment p b { display: block; font-weight: 700; font-style: normal; }

.ampeople-portfolio__comment img { margin: 0; display: block; float: right; width: 152px; }

.ampeople-portfolio__development { padding: 50px 0 0; box-sizing: border-box; min-height: 2990px; background: url("images/ampeople-portfolio__development-bg.jpg") no-repeat center top; }

.ampeople-portfolio__development h2 { margin: 0 0 60px 100px; font-family: Verdana, Helvetica, sans-serif; font-size: 126px; line-height: 1em; font-weight: 700; color: #1bb9b7; text-transform: none; text-decoration: none; letter-spacing: 0; }

.ampeople-portfolio__development h2 span { display: block; margin: 0 0 0 185px; }

.ampeople-portfolio__development p { margin: 0 130px 500px 0; width: 530px; float: right; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.5em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; font-style: italic; }

.ampeople-portfolio__development-interface { display: block; margin: 0 auto 80px; }

.ampeople-portfolio__development-interface-title { margin: 0 auto 60px; clear: both; width: 1020px; opacity: .73; font-family: Verdana, Helvetica, sans-serif; font-size: 136px; line-height: 1.2em; font-weight: 700; color: #2d595a; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: right; }

.ampeople-portfolio__development-elements { display: block; margin: 0 auto; }

.ampeople-portfolio__development-elements-title { margin: 0 auto 35px; width: 1200px; opacity: .28; font-family: Verdana, Helvetica, sans-serif; font-size: 88px; line-height: 1.2em; font-weight: 700; color: #2d595a; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.ampeople-portfolio__palette { min-height: 2422px; background: url("images/ampeople-portfolio__palette-bg.jpg") no-repeat center top; }

.ampeople-portfolio__palette h2 { margin: 0 0 220px; padding: 20px; opacity: .13; font-family: Verdana, Helvetica, sans-serif; font-size: 126px; line-height: 1.2em; font-weight: 700; color: #4d959d; text-transform: none; text-decoration: none; letter-spacing: -.07em; text-align: right; }

.ampeople-portfolio__palette h3 { margin: 0; padding: 20px; opacity: .25; font-family: Verdana, Helvetica, sans-serif; font-size: 126px; line-height: 1.2em; font-weight: 700; color: #52b58f; text-transform: none; text-decoration: none; letter-spacing: -.05em; text-align: right; }

.ampeople-portfolio__photo { min-height: 852px; background: url("images/ampeople-portfolio__photo.jpg") no-repeat center top; }

/*end of ampeople-portfolio*/
/*end of AMPEOPLE*/
/*AMREST-MOBILE*/
/*amrest-mobile*/
.amrest-mobile { margin: 0 auto; min-width: 1260px; }

.amrest-mobile__promo { padding: 30px 0 0; box-sizing: border-box; min-height: 765px; background: url("images/portfolio-amrest-mobile/amrest-mobile__promo-bg-1.png") repeat-x center top, url("images/portfolio-amrest-mobile/amrest-mobile__promo-bg-2.jpg") repeat center top; }

.amrest-mobile__promo h2 { margin: 0; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.amrest-mobile__work { min-height: 1720px; background: url("images/portfolio-amrest-mobile/amrest-mobile__work-bg-4.png") no-repeat center bottom/100% 122px, url("images/portfolio-amrest-mobile/amrest-mobile__work-bg-2.png") no-repeat center top, url("images/portfolio-amrest-mobile/amrest-mobile__work-bg-1.jpg") repeat-x center bottom, url("images/portfolio-amrest-mobile/amrest-mobile__promo-bg-2.jpg") repeat center top; text-align: center; }

.amrest-mobile__work h2 { margin: 0 auto; width: 1180px; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #363636; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.amrest-mobile__work-steps { margin: -35px auto 130px; padding: 0 0 0 40px; box-sizing: border-box; max-width: 1920px; }

.amrest-mobile__work-steps li { display: block; width: 46.5%; }

.amrest-mobile__work-steps li:first-child { float: right; clear: both; min-height: 225px; text-align: left; }

.amrest-mobile__work-steps li:nth-child(2) { margin: 5px 0 0; float: left; clear: both; min-height: 250px; text-align: right; }

.amrest-mobile__work-steps li:nth-child(2) h3 { text-align: right; }

.amrest-mobile__work-steps li:last-child { margin: 270px 0 0; float: right; clear: both; box-sizing: border-box; text-align: left; }

.amrest-mobile__work-steps h3 { margin: 0 0 30px; display: inline-block; vertical-align: top; font-family: TT-Slabs-Regular, Helvetica, sans-serif; font-size: 34px; line-height: 1.2em; font-weight: 400; color: #363636; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.amrest-mobile__work-steps h3 b { display: inline-block; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-weight: 400; }

.amrest-mobile__work-steps p { margin: 0; max-width: 570px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; font-style: italic; }

.amrest-mobile__work-wrapper { margin: 0 auto 45px; max-width: 1920px; line-height: 0; text-align: center; position: relative; }

.amrest-mobile__work-wrapper img { margin: 0 auto; display: block; }

.amrest-mobile__work-palette { position: absolute; top: 100px; right: 20px; width: 20%; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; font-style: italic; }

.amrest-mobile__work-boxes { margin: 0 auto; display: block; line-height: 0; }

.amrest-mobile__solutions { padding: 1px 0 0; background: #ebebeb; text-align: center; position: relative; }

.amrest-mobile__solutions-wrapper { margin: -100px auto 0; padding: 310px 0 0; box-sizing: border-box; min-height: 1512px; background: url("images/portfolio-amrest-mobile/amrest-mobile__account-bg-1.png") no-repeat center bottom/100% 189px, url("images/portfolio-amrest-mobile/amrest-mobile__solutions-bg-1.png") no-repeat center bottom; }

.amrest-mobile__solutions h2 { margin: 0 0 45px; padding: 0 30px 40px; display: inline-block; vertical-align: top; border-bottom: 2px solid #fff; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.amrest-mobile__solutions p { margin: 0 auto; width: 500px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; font-style: italic; }

.amrest-mobile__account { padding: 10px 0 0; background: url("images/portfolio-amrest-mobile/amrest-mobile__account-bg-3.png") no-repeat center bottom/100% 661px, url("images/portfolio-amrest-mobile/amrest-mobile__account-bg-1.jpg") repeat center top; }

.amrest-mobile__account-wrapper { margin: 0 auto; min-height: 1350px; background: url("images/portfolio-amrest-mobile/amrest-mobile__account-bg-2.png") no-repeat 55% top; }

.amrest-mobile__account h2 { margin: 0 auto 50px; width: 1230px; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #b50043; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.amrest-mobile__account p { margin: 0 auto; width: 1230px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #b50043; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; font-style: italic; }

.amrest-mobile__history { padding: 1px 0 0; background: url("images/portfolio-amrest-mobile/amrest-mobile__history-bg-1.jpg") repeat center top; }

.amrest-mobile__history-wrapper { margin: -350px auto 0; padding: 0 0 0 870px; box-sizing: border-box; max-width: 2500px; min-height: 2700px; background: url("images/portfolio-amrest-mobile/amrest-mobile__history-bg-1.png") no-repeat center top, url("images/portfolio-amrest-mobile/amrest-mobile__history-bg-2.png") no-repeat left 600px, url("images/portfolio-amrest-mobile/amrest-mobile__tel-bg-3.png") repeat-x bottom center; }

.amrest-mobile__history h2 { margin: 950px 10px 50px 0; float: left; clear: both; font-family: TT-Slabs-Bold, Helvetica, sans-serif; font-size: 50px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: -.01em; text-align: left; }

.amrest-mobile__history p { margin: 0 10px 0 0; float: left; clear: both; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.5em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; font-style: italic; }

.amrest-mobile__tel { padding: 1px 0 0; background: #a30c32; }

.amrest-mobile__tel-wrapper { min-height: 1229px; max-width: 2500px; }

/*end of amrest-mobile*/
/*amrest-mobile-header*/
.amrest-mobile-header { min-width: 1260px; }

.amrest-mobile-header.h1-wrap { padding: 15px 0 0; box-sizing: border-box; min-height: 131px; background: url("images/portfolio-amrest-mobile/amrest-redesign-bg.jpg") repeat center top; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25); text-align: center; position: relative; }

.amrest-mobile-header.h1-wrap .breadcrumbs-wrap { max-width: 1366px; min-width: 1260px; }

.amrest-mobile-header.h1-wrap h1 { margin: 0; }

/*end of amrest-mobile-header*/
/*end of AMREST-MOBILE*/
/*OLD-COIN-MOBILE*/
/*old-coin-mobile-header*/
.old-coin-mobile-header { min-width: 1260px; }

.old-coin-mobile-header.h1-wrap { background: #dbd9c5; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25); position: relative; z-index: 1; }

.old-coin-mobile-header.h1-wrap .breadcrumbs-wrap { max-width: 1366px; min-width: 1260px; }

.old-coin-mobile-header.h1-wrap h1 { margin: 0 auto; padding: 35px 0 30px; font-size: 0; line-height: 0; text-align: center; }

.old-coin-mobile-header.h1-wrap h1 span { margin: 0 25px 0 0; display: inline-block; vertical-align: middle; font-family: PT-Serif-Pro-Narrow-Book, Helvetica, sans-serif; font-size: 36px; line-height: 1em; font-weight: 400; color: #333129; text-transform: uppercase; text-decoration: none; letter-spacing: 0; text-align: center; }

.old-coin-mobile-header.h1-wrap h1 span b { font-size: 14px; font-weight: 400; line-height: 1.2em; }

.old-coin-mobile-header.h1-wrap h1 img { margin: 0; display: inline-block; vertical-align: middle; width: 63px; }

/*end of old-coin-mobile-header*/
/*old-coin-mobile*/
.old-coin-mobile { margin: 0 auto; min-width: 1260px; }

.old-coin-mobile__promo { padding: 55px 0 0; box-sizing: border-box; min-height: 757px; background: url("images/portfolio-old-coin-mobile/old-coin-mobile__promo-bg-3.png") no-repeat right bottom, url("images/portfolio-old-coin-mobile/old-coin-mobile__promo-bg-2.png") no-repeat left bottom, url("images/portfolio-old-coin-mobile/old-coin-mobile__promo-bg-1.jpg") repeat center top; }

.old-coin-mobile__promo h2 { margin: 0 0 40px; font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.old-coin-mobile__promo p { margin: 0 auto; padding: 0 330px 0; box-sizing: border-box; max-width: 1920px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.old-coin-mobile__meetings { padding: 170px 0 0; box-sizing: border-box; min-height: 1343px; background: url("images/portfolio-old-coin-mobile/old-coin-mobile__meetings-bg-2.png") no-repeat right top, url("images/portfolio-old-coin-mobile/old-coin-mobile__meetings-bg-1.png") no-repeat left top, url("images/portfolio-old-coin-mobile/old-coin-mobile__meetings-bg-3.jpg") repeat center top; }

.old-coin-mobile__meetings h2 { margin: 0 auto 100px; padding: 0 95px; box-sizing: border-box; max-width: 1920px; font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif; font-size: 54px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__meetings-phones { margin: 0 auto; max-width: 1920px; font-size: 0; line-height: 0; text-align: center; }

.old-coin-mobile__meetings-phones li { margin: 0; }

.old-coin-mobile__meetings-phones li:first-child { margin: 0 4% 0 0; display: inline-block; vertical-align: top; }

.old-coin-mobile__meetings-phones li:last-child { display: inline-block; vertical-align: top; }

.old-coin-mobile__prototyping { margin: 0 auto; padding: 140px 0 0; min-height: 678px; max-width: 1920px; box-sizing: border-box; background: url("images/portfolio-old-coin-mobile/old-coin-mobile__prototyping-bg.jpg") no-repeat 36px 77px; }

.old-coin-mobile__prototyping h2 { margin: 0 40px 40px 860px; font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif; font-size: 40px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__prototyping p { margin: 0 40px 0 860px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #959595; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__interaction { padding: 60px 0 0; box-sizing: border-box; min-height: 637px; background: url("images/portfolio-old-coin-mobile/old-coin-mobile__interaction-bg-1.png") no-repeat left bottom, url("images/portfolio-old-coin-mobile/old-coin-mobile__interaction-bg.jpg") no-repeat right top, url("images/portfolio-old-coin-mobile/old-coin-mobile__interaction-bg-2.jpg") repeat-x center top; }

.old-coin-mobile__interaction h2 { margin: 0 auto 40px; padding: 0 220px 0; box-sizing: border-box; max-width: 1920px; font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif; font-size: 40px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__interaction p { margin: 0 auto; padding: 0 220px 0; box-sizing: border-box; max-width: 1920px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__functionality { padding: 0; background: #fff; }

.old-coin-mobile__functionality-header { margin: 15px auto 0; padding: 0 0 45px; max-width: 1920px; }

.old-coin-mobile__functionality-header h2 { margin: 0 0 0 80px; float: left; font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif; font-size: 40px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__functionality-header p { margin: 0 80px 0 630px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__functionality-scheme { min-height: 1081px; background: url("images/portfolio-old-coin-mobile/old-coin-mobile__functionality-scheme.jpg") no-repeat center top, url("images/portfolio-old-coin-mobile/old-coin-mobile__functionality-bg.jpg") repeat center top; }

.old-coin-mobile__tags { padding: 0 0 66.67%; background: url("images/portfolio-old-coin-mobile/old-coin-mobile__tags-bg-2.png") no-repeat center center, url("images/portfolio-old-coin-mobile/old-coin-mobile__tags-bg-1.jpg") no-repeat center center; background-size: 100% auto; }

.old-coin-mobile__tags-wrapper { margin: 0 auto; max-width: 1920px; }

.old-coin-mobile__tags-text { margin: 0 100px 0 0; width: 22%; float: right; }

.old-coin-mobile__tags h2 { margin: 70px 0 30px; font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif; font-size: 40px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__tags p { margin: 0; float: right; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__communication { background: -webkit-linear-gradient(left, #b6b19a, #abb6b2); background: linear-gradient(to right, #b6b19a, #abb6b2); }

.old-coin-mobile__communication-wrapper { margin: 0 auto; padding: 110px 0 0; box-sizing: border-box; min-height: 1746px; max-width: 1920px; background: url("images/portfolio-old-coin-mobile/old-coin-mobile__communication-wrapper-1.png") no-repeat center 110px, url("images/portfolio-old-coin-mobile/old-coin-mobile__communication-wrapper-2.png") no-repeat 70% bottom; }

.old-coin-mobile__communication h2, .old-coin-mobile__communication h3 { margin: 0 70px 710px 0; width: 23%; float: right; font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif; font-size: 40px; line-height: 1.2em; font-weight: 400; color: #464336; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.old-coin-mobile__communication h3 { margin: 0 0 45px 70px; float: none; clear: both; width: 29%; }

.old-coin-mobile__communication p { margin: 0 0 0 70px; width: 29%; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #464336; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

/*end of old-coin-mobile*/
/*end of OLD-COIN-MOBILE*/
/*MEDART-MOBILE*/
/*medart-mobile-header*/
.medart-mobile-header { margin: 0 auto; box-sizing: border-box; min-height: 189px; max-width: 1260px; background: url("images/medart-mobile-header-bg.jpg") no-repeat center top; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25); position: relative; z-index: 1; }

.medart-mobile-header h1 { margin: 0; padding: 40px 0 0; line-height: 0; text-align: center; }

.medart-mobile-header h1 img { margin: 0; display: inline-block; vertical-align: top; }

/*end of medart-mobile-header*/
/*medart-mobile*/
.medart-mobile { margin: 0 auto; width: 1260px; }

.medart-mobile__promo { padding: 45px 0 0; box-sizing: border-box; min-height: 796px; background: url("images/medart-mobile__promo-bg.jpg") no-repeat center top; }

.medart-mobile__promo h2 { margin: 0 0 55px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 33px; line-height: 1.2em; font-weight: 400; color: #454545; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.medart-mobile__promo p { margin: 0 auto; padding: 20px 60px 10px; box-sizing: border-box; min-height: 261px; width: 798px; background: url("images/medart-mobile__promo-text-bg.jpg") repeat-y center top; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 17px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.medart-mobile__features { min-height: 2336px; background: url("images/medart-mobile__features.jpg") no-repeat center top; }

.medart-mobile__navigation { padding: 290px 0 0; box-sizing: border-box; min-height: 1706px; background: url("images/medart-mobile__navigation-bg.jpg") no-repeat center top; }

.medart-mobile__navigation-wrapper { margin: 0 75px; }

.medart-mobile__navigation p { margin: 0; width: 450px; font-family: Neris-Thin, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 400; color: #696969; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

/*end of medart-mobile*/
/*end of MEDART-MOBILE*/
/*DOM-ANTENN-MOBILE*/
/*dom-ant-mobile-header*/
.dom-ant-mobile-header.h1-wrap { margin: 0; box-sizing: border-box; min-height: 189px; background: #22913d url("images/dom-ant-mobile-header-bg.jpg") no-repeat center top; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25); z-index: 1; position: relative; }

.dom-ant-mobile-header.h1-wrap h1 { margin: 0 auto; padding: 50px 0 0; width: 1260px; text-align: center; }

/*end of dom-ant-mobile-header*/
/*dom-ant-mobile*/
.dom-ant-mobile { margin: 0 auto; width: 1260px; }

.dom-ant-mobile__promo { padding: 55px 0 0; box-sizing: border-box; min-height: 1552px; background: url("images/dom-ant-mobile__promo-bg.jpg") no-repeat center top; }

.dom-ant-mobile__promo-antenna { margin: 0 auto; width: 0; height: 0; line-height: 0; position: relative; }

.dom-ant-mobile__promo-antenna img { position: absolute; bottom: -65px; left: 252px; z-index: 2; }

.dom-ant-mobile__promo h2 { margin: 0 0 30px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 33px; line-height: 1.2em; font-weight: 400; color: #454545; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.dom-ant-mobile__promo p { margin: 0 auto; width: 960px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 17px; line-height: 1.2em; font-weight: 400; color: #454545; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.dom-ant-mobile__features { min-height: 1704px; background: url("images/dom-ant-mobile__features.jpg") no-repeat center top; }

.dom-ant-mobile__icons { padding: 230px 0 0; box-sizing: border-box; min-height: 2200px; background: url("images/dom-ant-mobile__icons-bg.jpg") no-repeat center top; }

.dom-ant-mobile__icons-wrapper { margin: 0 auto; width: 1030px; }

.dom-ant-mobile__icons p, .dom-ant-mobile__icons h2 { margin: 0; font-family: Neris-Thin, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.dom-ant-mobile__icons p { margin: 0 0 305px; width: 370px; }

/*end of dom-ant-mobile*/
/*end of DOM-ANTENN-MOBILE*/
/*SDELAY-DELO-MOBILE*/
/*sdelay-delo-mobile-header*/
.sdelay-delo-mobile-header { min-width: 1260px; }

.sdelay-delo-mobile-header.h1-wrap { background: #fff; box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25); position: relative; z-index: 1; }

.sdelay-delo-mobile-header.h1-wrap .breadcrumbs-wrap { margin: 0 auto; max-width: 1366px; }

.sdelay-delo-mobile-header.h1-wrap h1 { margin: 0; padding: 45px 0 50px; text-align: center; line-height: 0; }

.sdelay-delo-mobile-header.h1-wrap h1 img { max-width: 438px; }

/*end of sdelay-delo-mobile-header*/
/*sdelay-delo-mobile*/
.sdelay-delo-mobile__promo { margin: 0 auto; padding: 60px 0 0; box-sizing: border-box; min-width: 1260px; min-height: 533px; background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__promo-bg-2.png") no-repeat right top, url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__promo-bg-3.png") no-repeat 65px center, url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__promo-bg-1.jpg") repeat center top; }

.sdelay-delo-mobile__promo-wrapper { margin: 0 auto; max-width: 1920px; }

.sdelay-delo-mobile__promo h2 { margin: 0 auto 65px; padding: 0 380px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.sdelay-delo-mobile__promo p { margin: 0 auto; padding: 0 430px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.sdelay-delo-mobile__features { min-width: 1260px; background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-bg.jpg") repeat center top, url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-bg-1.png") repeat right top; position: relative; }

.sdelay-delo-mobile__features-header { margin: 0 auto; min-height: 139px; min-width: 1260px; background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-header-bg-1.png") repeat-x center top, url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-bg-1.png") no-repeat right top, url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__promo-bg-1.jpg") repeat center top; }

.sdelay-delo-mobile__features-bag { position: absolute; top: 70px; right: 110px; }

.sdelay-delo-mobile__features-wrapper { margin: 0 auto; padding: 30px 0 0; box-sizing: border-box; background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-wrapper-bg-1.jpg") no-repeat center top; min-width: 1260px; min-height: 1734px; }

.sdelay-delo-mobile__features-list { margin: 0 auto; width: 1245px; }

.sdelay-delo-mobile__features-list li h2 { margin: 0 0 40px; font-family: Verdana, Helvetica, sans-serif; font-size: 60px; line-height: 1.2em; font-weight: 400; color: #363636; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.sdelay-delo-mobile__features-list li h3 { margin: 0 0 25px; font-family: Verdana, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #363636; text-transform: none; text-decoration: none; letter-spacing: -.05em; text-align: left; }

.sdelay-delo-mobile__features-list li p { margin: 0; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #363636; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; font-style: italic; }

.sdelay-delo-mobile__features-list li:first-child { margin: 0 0 70px; min-height: 480px; width: 290px; display: block; float: left; clear: both; }

.sdelay-delo-mobile__features-list li:nth-child(2) { margin: 0 0 225px; min-height: 320px; width: 280px; float: right; clear: both; }

.sdelay-delo-mobile__features-list li:last-child { margin: 0; min-height: 300px; width: 280px; float: right; clear: both; }

.sdelay-delo-mobile__forms { background: #afafaf; }

.sdelay-delo-mobile__forms-wrapper { margin: 0 auto; padding: 160px 0 0; box-sizing: border-box; max-width: 1366px; min-width: 1260px; min-height: 1238px; background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__forms.jpg") no-repeat center top; }

.sdelay-delo-mobile__forms-wrapper h2 { margin: 0 auto; width: 1200px; font-family: Verdana, Helvetica, sans-serif; font-size: 60px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.sdelay-delo-mobile__map { background: #ffd54f; }

.sdelay-delo-mobile__map-wrapper { margin: 0 auto; padding: 150px 0 0; box-sizing: border-box; max-width: 1366px; min-width: 1260px; min-height: 696px; background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__map.jpg") no-repeat center top; }

.sdelay-delo-mobile__map-text { margin: 0 auto; width: 1200px; }

.sdelay-delo-mobile__map h2 { margin: 0 0 70px; width: 450px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.sdelay-delo-mobile__map p { margin: 0; width: 450px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #000; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.sdelay-delo-mobile__pages { background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__pages-bg-1.jpg") repeat center bottom; }

.sdelay-delo-mobile__pages-wrapper { margin: 0 auto; max-width: 1366px; min-width: 1260px; min-height: 794px; background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__pages.jpg") no-repeat center top; }

/*end of sdelay-delo-mobile*/
/*sdelay-delo-mobile-footer*/
/*end of sdelay-delo-mobile-footer*/
/*end of SDELAY-DELO-MOBILE*/
/*AMREST-BUSINESS-SCHOOL*/
/*amrest-business-school-header*/
.amrest-business-school-header { min-width: 1260px; }

.amrest-business-school-header.h1-wrap { background: #f4f4f4; }

.amrest-business-school-header.h1-wrap .breadcrumbs-wrap { margin: 0 auto; max-width: 1366px; }

.amrest-business-school-header.h1-wrap h1 { margin: 0; padding: 40px 0 40px; text-align: center; line-height: 0; }

.amrest-business-school-header.h1-wrap h1 img { max-width: 238px; }

/*end of amrest-business-school-header*/
/*amrest-business-school*/
.amrest-business-school { margin: 0 auto; max-width: 1366px; min-width: 1260px; }

.amrest-business-school__promo { padding: 60px 0 0; box-sizing: border-box; min-height: 2139px; background: url("images/amrest-business-school__promo.jpg") no-repeat center top; }

.amrest-business-school__promo h2 { margin: 0 auto 35px; width: 490px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.amrest-business-school__promo p { margin: 0 auto; width: 650px; font-family: Ubuntu-Regular, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.amrest-business-school__development { padding: 60px 0 0; box-sizing: border-box; min-height: 1303px; background: url("images/amrest-business-school__development.jpg") no-repeat center top; }

.amrest-business-school__development h2 { margin: 0 0 75px; font-family: Verdana, Helvetica, sans-serif; font-size: 48px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; }

.amrest-business-school__development-wrapper { margin: 0 auto; width: 1225px; }

.amrest-business-school__development p { margin: 0; width: 340px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: center; font-style: italic; }

.amrest-business-school__icons { padding: 850px 0 0; box-sizing: border-box; min-height: 1210px; background: url("images/amrest-business-school__icons.jpg") no-repeat center top; }

.amrest-business-school__icons h2 { margin: 0 auto; width: 1215px; opacity: .34; font-family: Roboto-Bold, Helvetica, sans-serif; font-size: 145px; line-height: 1.2em; font-weight: 400; color: #81d7f9; text-transform: uppercase; text-decoration: none; letter-spacing: 0; text-align: right; }

.amrest-business-school__features { min-height: 1724px; background: url("images/amrest-business-school__features.jpg") no-repeat center top; }

.amrest-business-school__cases { padding: 100px 0 0; box-sizing: border-box; min-height: 1105px; background: url("images/amrest-business-school__cases.jpg") no-repeat center top; }

.amrest-business-school__cases-wrapper { margin: 0 auto; width: 1260px; }

.amrest-business-school__cases h2 { margin: 0 0 30px; width: 280px; font-family: Roboto-Regular, Helvetica, sans-serif; font-size: 36px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.amrest-business-school__cases p { margin: 0; width: 280px; font-family: Verdana, Helvetica, sans-serif; font-size: 18px; line-height: 1.2em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; font-style: italic; }

.amrest-business-school__trainings { padding: 620px 0 0; box-sizing: border-box; min-height: 885px; background: url("images/amrest-business-school__trainings.jpg") no-repeat center top; }

.amrest-business-school__trainings h2 { margin: 0 auto; opacity: .39; width: 1230px; font-family: Roboto-Bold, Helvetica, sans-serif; font-size: 118px; line-height: 1em; font-weight: 400; color: #fff; text-transform: none; text-decoration: none; letter-spacing: 0; text-align: left; }

.amrest-business-school__macbook { min-height: 917px; background: url("images/amrest-business-school__macbook.jpg") no-repeat center top; }

/*end of amrest-business-school*/
/*end of AMREST-BUSINESS-SCHOOL*/
