/*ampeople-portfolio-header*/
.ampeople-portfolio-header{

	&.h1-wrap{

		h1{
			margin: 0;
			padding: 10px 0 20px;
			background: linear-gradient(to bottom, #fff, #eee);
			text-align: center;
			font-size: 0;
			line-height: 0;

			span{
				margin: 0 20px -5px 0;
				display: inline-block;
				vertical-align: bottom;
				font-family: MyriadPro-Regular, Helvetica, sans-serif;
				font-size: 24px;
				line-height: 1.2em;
				font-weight: 400;
				color: #425051;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}
		}
	}
}
/*end of ampeople-portfolio-header*/