/*amrest-mobile-header*/
.amrest-mobile-header{

	&.h1-wrap{
		padding: 15px 0 0;
		box-sizing: border-box;
		min-height: 131px;
		background: url("images/amrest-redesign-bg.jpg") repeat center top;
		box-shadow: 0 0 5px 5px rgba(0,0,0,.25);
		text-align: center;
		position: relative;

		.breadcrumbs-wrap{
			max-width: 1366px;
			min-width: 1260px;
		}

		h1{
			margin: 0;
		}
	}
}
/*end of amrest-mobile-header*/