/*amrest-business-school*/
.amrest-business-school{
	margin: 0 auto;
	max-width: 1366px;
	min-width: 1260px;

	&__promo{
		padding: 60px 0 0;
		box-sizing: border-box;
		min-height: 2139px;
		background: url("images/amrest-business-school__promo.jpg") no-repeat center top;

		h2{
			margin: 0 auto 35px;
			width: 490px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 36px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		p{
			margin: 0 auto;
			width: 650px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}
	}

	&__development{
		padding: 60px 0 0;
		box-sizing: border-box;
		min-height: 1303px;
		background: url("images/amrest-business-school__development.jpg") no-repeat center top;

		h2{
			margin: 0 0 75px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 48px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		&-wrapper{
			margin: 0 auto;
			width: 1225px;
		}

		p{
			margin: 0;
			width: 340px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
			font-style: italic;
		}
	}

	&__icons{
		padding: 850px 0 0;
		box-sizing: border-box;
		min-height: 1210px;
		background: url("images/amrest-business-school__icons.jpg") no-repeat center top;

		h2{
			margin: 0 auto;
			width: 1215px;
			opacity: .34;
			font-family: Roboto-Bold, Helvetica, sans-serif;
			font-size: 145px;
			line-height: 1.2em;
			font-weight: 400;
			color: #81d7f9;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0;
			text-align: right;
		}
	}

	&__features{
		min-height: 1724px;
		background: url("images/amrest-business-school__features.jpg") no-repeat center top;
	}

	&__cases{
		padding: 100px 0 0;
		box-sizing: border-box;
		min-height: 1105px;
		background: url("images/amrest-business-school__cases.jpg") no-repeat center top;

		&-wrapper{
			margin: 0 auto;
			width: 1260px;
		}

		h2{
			margin: 0 0 30px;
			width: 280px;
			font-family: Roboto-Regular, Helvetica, sans-serif;
			font-size: 36px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		p{
			margin: 0;
			width: 280px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
			font-style: italic;
		}
	}

	&__trainings{
		padding: 620px 0 0;
		box-sizing: border-box;
		min-height: 885px;
		background: url("images/amrest-business-school__trainings.jpg") no-repeat center top;

		h2{
			margin: 0 auto;
			opacity: .39;
			width: 1230px;
			font-family: Roboto-Bold, Helvetica, sans-serif;
			font-size: 118px;
			line-height: 1em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}
	}

	&__macbook{
		min-height: 917px;
		background: url("images/amrest-business-school__macbook.jpg") no-repeat center top;
	}
}
/*end of amrest-business-school*/