/*amrest-mobile*/
.amrest-mobile{
	margin: 0 auto;
	min-width: 1260px;

	&__promo{
		padding: 30px 0 0;
		box-sizing: border-box;
		min-height: 765px;
		background: url("images/portfolio-amrest-mobile/amrest-mobile__promo-bg-1.png") repeat-x center top,
								url("images/portfolio-amrest-mobile/amrest-mobile__promo-bg-2.jpg") repeat center top;

		h2{
			margin: 0;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 36px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}
	}

	&__work{
		min-height: 1720px;
		background: url("images/portfolio-amrest-mobile/amrest-mobile__work-bg-4.png") no-repeat center bottom/100% 122px,
								url("images/portfolio-amrest-mobile/amrest-mobile__work-bg-2.png") no-repeat center top,
								url("images/portfolio-amrest-mobile/amrest-mobile__work-bg-1.jpg") repeat-x center bottom,
								url("images/portfolio-amrest-mobile/amrest-mobile__promo-bg-2.jpg") repeat center top;
		text-align: center;

		h2{
			margin: 0 auto;
			width: 1180px;
			font-family: TT-Slabs-Bold, Helvetica, sans-serif;
			font-size: 50px;
			line-height: 1.2em;
			font-weight: 400;
			color: #363636;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		&-steps{
			margin: -35px auto 130px;
			padding: 0 0 0 40px;
			box-sizing: border-box;
			max-width: 1920px;

			li{
				display: block;
				width: 46.5%;

				&:first-child{
					float: right;
					clear: both;
					min-height: 225px;
					text-align: left;
				}

				&:nth-child(2){
					margin: 5px 0 0;
					float: left;
					clear: both;
					min-height: 250px;
					text-align: right;

					h3{
						text-align: right;
					}
				}

				&:last-child{
					margin: 270px 0 0;
					float: right;
					clear: both;
					box-sizing: border-box;
					text-align: left;
				}
			}

			h3{
				margin: 0 0 30px;
				display: inline-block;
				vertical-align: top;
				font-family: TT-Slabs-Regular, Helvetica, sans-serif;
				font-size: 34px;
				line-height: 1.2em;
				font-weight: 400;
				color: #363636;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: left;

				b{
					display: inline-block;
					font-family: TT-Slabs-Bold, Helvetica, sans-serif;
					font-weight: 400;
				}
			}

			p{
				margin: 0;
				max-width: 570px;
				font-family: Verdana, Helvetica, sans-serif;
				font-size: 18px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: left;
				font-style: italic;
			}
		}

		&-wrapper{
			margin: 0 auto 45px;
			max-width: 1920px;
			line-height: 0;
			text-align: center;
			position: relative;

			img{
				margin: 0 auto;
				display: block;
			}
		}

		&-palette{
			position: absolute;
			top: 100px;
			right: 20px;
			width: 20%;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
			font-style: italic;
		}

		&-boxes{
			margin: 0 auto;
			display: block;
			line-height: 0;
		}
	}

	&__solutions{
		padding: 1px 0 0;
		//background: #ebebeb url("images/portfolio-amrest-mobile/amrest-mobile__solutions-bg.jpg") no-repeat center top;
		background: #ebebeb;

		text-align: center;
		position: relative;

		&-wrapper{
			margin: -100px auto 0;
			padding: 310px 0 0;
			box-sizing: border-box;
			min-height: 1512px;
			background: url("images/portfolio-amrest-mobile/amrest-mobile__account-bg-1.png") no-repeat center bottom/100% 189px,
									url("images/portfolio-amrest-mobile/amrest-mobile__solutions-bg-1.png") no-repeat center bottom;
		}

		h2{
			margin: 0 0 45px;
			padding: 0 30px 40px;
			display: inline-block;
			vertical-align: top;
			border-bottom: 2px solid #fff;
			font-family: TT-Slabs-Bold, Helvetica, sans-serif;
			font-size: 50px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		p{
			margin: 0 auto;
			width: 500px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
			font-style: italic;
		}
	}
	
	&__account{
		padding: 10px 0 0;
		background: url("images/portfolio-amrest-mobile/amrest-mobile__account-bg-3.png") no-repeat center bottom/100% 661px,
								url("images/portfolio-amrest-mobile/amrest-mobile__account-bg-1.jpg") repeat center top;

		&-wrapper{
			margin: 0 auto;
			min-height: 1350px;
			background: url("images/portfolio-amrest-mobile/amrest-mobile__account-bg-2.png") no-repeat 55% top;
		}

		h2{
			margin: 0 auto 50px;
			width: 1230px;
			font-family: TT-Slabs-Bold, Helvetica, sans-serif;
			font-size: 50px;
			line-height: 1.2em;
			font-weight: 400;
			color: #b50043;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		p{
			margin: 0 auto;
			width: 1230px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #b50043;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
			font-style: italic;
		}
	}

	&__history{
		padding: 1px 0 0;
		background: /*url("images/portfolio-amrest-mobile/amrest-mobile__history-bg-3.png") no-repeat center bottom/100% 600px,*/
								url("images/portfolio-amrest-mobile/amrest-mobile__history-bg-1.jpg") repeat center top;

		&-wrapper{
			margin: -350px auto 0;
			padding: 0 0 0 870px;
			box-sizing: border-box;
			max-width: 1920px;
			min-height: 1750px;
			background: url("images/portfolio-amrest-mobile/amrest-mobile__history-bg-1.png") no-repeat right top,
									url("images/portfolio-amrest-mobile/amrest-mobile__history-bg-2.png") no-repeat left bottom;
		}

		h2{
			margin: 750px 10px 50px 0;
			float: left;
			clear: both;
			//width: 32%;
			font-family: TT-Slabs-Bold, Helvetica, sans-serif;
			font-size: 50px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: -.01em;
			text-align: left;
		}

		p{
			margin: 0 10px 0 0;
			float: left;
			clear: both;
			//width: 32%;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.5em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
			font-style: italic;
		}
	}

	&__tel{
		padding: 1px 0 0;
		background: #a30c32;

		&-wrapper{
			margin: -200px 0 0;
			min-height: 1229px;
			background: url("images/portfolio-amrest-mobile/amrest-mobile__tel-bg-2.png") no-repeat top center;

		}
	}
}
/*end of amrest-mobile*/