/*fonts*/
@font-face {
	font-family: Ubuntu-Regular;
	src: url(fonts/Ubuntu-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: PT-Sans-Pro-Caption;
	src: url(fonts/PT-Sans-Pro-Caption.otf);
	font-weight: normal;
}
@font-face {
	font-family: PT-Sans-Pro-Caption;
	src: url(fonts/PT-Sans-Pro-Caption.ttf);
	font-weight: normal;
}
@font-face {
	font-family: PT-Sans-Regular;
	src: url(fonts/PT-Sans-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: TT-Slabs-Bold;
	src: url(fonts/TT-Slabs-Bold.otf);
	font-weight: normal;
}
@font-face {
	font-family: TT-Slabs-Bold;
	src: url(fonts/TT-Slabs-Bold.ttf);
	font-weight: normal;
}

@font-face {
	font-family: MyriadPro-Regular;
	src: url(fonts/MyriadPro-Regular.otf);
	font-weight: normal;
}
@font-face {
	font-family: MyriadPro-Regular;
	src: url(fonts/MyriadPro-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: TT-Slabs-Regular;
	src: url(fonts/TT-Slabs-Regular.otf);
	font-weight: normal;
}
@font-face {
	font-family: TT-Slabs-Regular;
	src: url(fonts/TT-Slabs-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: PT-Serif-Pro-Narrow-Book;
	src: url(fonts/PT-Serif-Pro-Narrow-Book.otf);
	font-weight: normal;
}
@font-face {
	font-family: PT-Serif-Pro-Narrow-Book;
	src: url(fonts/PT-Serif-Pro-Narrow-Book.ttf);
	font-weight: normal;
}
@font-face {
	font-family: PT-Serif-Pro-Bold;
	src: url(fonts/PT-Serif-Pro-Bold.otf);
	font-weight: normal;
}
@font-face {
	font-family: PT-Serif-Pro-Bold;
	src: url(fonts/PT-Serif-Pro-Bold.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Neris-Thin;
	src: url(fonts/Neris-Thin.otf);
	font-weight: normal;
}
@font-face {
	font-family: Neris-Thin;
	src: url(fonts/Neris-Thin.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Roboto-Bold;
	src: url(fonts/Roboto-Bold.ttf);
	font-weight: normal;
}
@font-face {
	font-family: Roboto-Regular;
	src: url(fonts/Roboto-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: NeueHaasUnicaW1G-Light;
	src: url(fonts/NeueHaasUnicaW1G-Light.ttf);
	font-weight: normal;
}
/*end of fonts*/