/*old-coin-mobile*/
.old-coin-mobile{
	margin: 0 auto;
	min-width: 1260px;

	&__promo{
		padding: 55px 0 0;
		box-sizing: border-box;
		min-height: 757px;
		background: url("images/portfolio-old-coin-mobile/old-coin-mobile__promo-bg-3.png") no-repeat right bottom,
								url("images/portfolio-old-coin-mobile/old-coin-mobile__promo-bg-2.png") no-repeat left bottom,
								url("images/portfolio-old-coin-mobile/old-coin-mobile__promo-bg-1.jpg") repeat center top;

		h2{
			margin: 0 0 40px;
			font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif;
			font-size: 36px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		p{
			margin: 0 auto;
			padding: 0 330px 0;
			box-sizing: border-box;
			max-width: 1920px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}
	}

	&__meetings{
		padding: 170px 0 0;
		box-sizing: border-box;
		min-height: 1343px;
		background: url("images/portfolio-old-coin-mobile/old-coin-mobile__meetings-bg-2.png") no-repeat right top,
								url("images/portfolio-old-coin-mobile/old-coin-mobile__meetings-bg-1.png") no-repeat left top,
								url("images/portfolio-old-coin-mobile/old-coin-mobile__meetings-bg-3.jpg") repeat center top;

		h2{
			margin: 0 auto 100px;
			padding: 0 95px;
			box-sizing: border-box;
			max-width: 1920px;
			font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif;
			font-size: 54px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		&-phones{
			margin: 0 auto;
			max-width: 1920px;
			font-size: 0;
			line-height: 0;
			text-align: center;

			li{
				margin: 0;

				&:first-child{
					margin: 0 4% 0 0;
					display: inline-block;
					vertical-align: top;
				}

				&:last-child{
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}

	&__prototyping{
		margin: 0 auto;
		padding: 140px 0 0;
		min-height: 678px;
		max-width: 1920px;
		box-sizing: border-box;
		background: url("images/portfolio-old-coin-mobile/old-coin-mobile__prototyping-bg.jpg") no-repeat 36px 77px;

		h2{
			margin: 0 40px 40px 860px;
			font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif;
			font-size: 40px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		p{
			margin: 0 40px 0 860px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #959595;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}
	}

	&__interaction{
		padding: 60px 0 0;
		box-sizing: border-box;
		min-height: 637px;
		background: url("images/portfolio-old-coin-mobile/old-coin-mobile__interaction-bg-1.png") no-repeat left bottom,
								url("images/portfolio-old-coin-mobile/old-coin-mobile__interaction-bg.jpg") no-repeat right top,
								url("images/portfolio-old-coin-mobile/old-coin-mobile__interaction-bg-2.jpg") repeat-x center top;

		h2{
			margin: 0 auto 40px;
			padding: 0 220px 0;
			box-sizing: border-box;
			max-width: 1920px;
			font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif;
			font-size: 40px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		p{
			margin: 0 auto;
			padding: 0 220px 0;
			box-sizing: border-box;
			max-width: 1920px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}
	}

	&__functionality{
		padding: 0;
		background: #fff;

		&-header{
			margin: 15px auto 0;
			padding: 0 0 45px;
			max-width: 1920px;

			h2{
				margin: 0 0 0 80px;
				float: left;
				font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif;
				font-size: 40px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: left;
			}

			p{
				margin: 0 80px 0 630px;
				font-family: Ubuntu-Regular, Helvetica, sans-serif;
				font-size: 18px;
				line-height: 1.2em;
				font-weight: 400;
				color: #000;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: left;
			}
		}

		&-scheme{
			min-height: 1081px;
			background: url("images/portfolio-old-coin-mobile/old-coin-mobile__functionality-scheme.jpg") no-repeat center top,
									url("images/portfolio-old-coin-mobile/old-coin-mobile__functionality-bg.jpg") repeat center top;
		}
	}

	&__tags{
		padding: 0 0 66.67%;
		background: url("images/portfolio-old-coin-mobile/old-coin-mobile__tags-bg-2.png") no-repeat center center,
								url("images/portfolio-old-coin-mobile/old-coin-mobile__tags-bg-1.jpg") no-repeat center center;
		background-size: 100% auto;

		&-wrapper{
			margin: 0 auto;
			max-width: 1920px;
		}

		&-text{
			margin: 0 100px 0 0;
			width: 22%;
			float: right;
		}

		h2{
			margin: 70px 0 30px;
			font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif;
			font-size: 40px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		p{
			margin: 0;
			float: right;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}
	}

	&__communication{
		background: linear-gradient(to right, #b6b19a, #abb6b2);

		&-wrapper{
			margin: 0 auto;
			padding: 110px 0 0;
			box-sizing: border-box;
			min-height: 1746px;
			max-width: 1920px;
			background: url("images/portfolio-old-coin-mobile/old-coin-mobile__communication-wrapper-1.png") no-repeat center 110px,
									url("images/portfolio-old-coin-mobile/old-coin-mobile__communication-wrapper-2.png") no-repeat 70% bottom;
		}

		h2,
		h3{
			margin: 0 70px 710px 0;
			width: 23%;
			float: right;
			font-family: PT-Serif-Pro-Bold, Helvetica, sans-serif;
			font-size: 40px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464336;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		h3{
			margin: 0 0 45px 70px;
			float: none;
			clear: both;
			width: 29%;
		}

		p{
			margin: 0 0 0 70px;
			width: 29%;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #464336;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}
	}
}
/*end of old-coin-mobile*/