/*portfolio-footer*/
.portfolio-footer{
	min-height: 280px;
	min-width: 1260px;
	background: url("images/diamind-footer-bg.jpg") no-repeat center 0;
	font-size: 0;
	text-align: center;

	&__prices{
		margin: 115px 90px 0 0;
		padding: 30px 0;
		width: 295px;
		display: inline-block;
		vertical-align: top;
		border: 1px solid #000;
		border-radius: 8px;
		font-family: PT-Sans-Pro-Caption, Helvetica, sans-serif;
		font-size: 26px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
	}

	&__logo{
		margin: 75px 90px 0 0;
		display: inline-block;
		vertical-align: top;
		width: 265px;
		text-align: center;
		text-decoration: none;
		color: #000;

		img{
			max-width: 100%;
		}
	}

	&__site{
		margin: 30px 0 0;
		padding: 0 0 0 30px;
		display: inline-block;
		vertical-align: top;
		background: url("images/diamind-footer__site.png") no-repeat 0 center;
		font-family: Ubuntu-Regular, Helvetica, sans-serif;
		font-size: 18px;
		line-height: 1.2em;
		font-weight: 400;
		color: #000;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
	}

	&__order{
		margin: 115px 0 0 0;
		padding: 20px 0 0;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		width: 324px;
		height: 86px;
		background: url("images/portfolio-footer__order.png") no-repeat 0 0;
		font-family: PT-Sans-Regular, Helvetica, sans-serif;
		font-size: 35px;
		line-height: 1.2em;
		font-weight: 400;
		color: #fff;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 0;
		text-align: center;
	}

	&--amrest-redesign{
		background: url("images/amrest-redesign-bg.jpg") repeat center 0;
		min-width: 1260px;

		.portfolio-footer{

			&__logo{
				margin-top: 40px;
			}
		}
	}

	&--shipstores{
		background: url("images/shipstores-portfolio-header__bg--blue.jpg") repeat center 0;

		.portfolio-footer{

			&__logo{
				width: auto;
				margin-top: 110px;
			}
		}
	}

	&--ampeople{
		background: url("images/ampeople-portfolio-footer.jpg") repeat center 0;

		.portfolio-footer{

			&__logo{
				margin-top: 40px;
			}
		}
	}

	&--old-coin{
		background: #d6d4bb;

		.portfolio-footer{

			&__logo{
				margin-top: 140px;

				&:hover,
				&:focus{
					text-decoration: none;
				}

				h2{
					margin: 0;
					font-family: PT-Serif-Pro-Narrow-Book, Helvetica, sans-serif;
					font-size: 32px;
					line-height: 1.2em;
					font-weight: 400;
					color: #333129;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 0;
					text-align: center;
				}
			}

			&__site{
				display: none;
			}
		}
	}

	&--medart{
		background: #e2abac;

		.portfolio-logo{
			margin: 0 auto;
			width: 210px;
		}

		.portfolio-footer{

			&__site{
				background: url("images/portfolio-footer__site--white.png") no-repeat 0 5px;
				color: #fff;
			}
		}
	}

	&--dom-ant-mobile{
		min-height: 269px;
		background: url("images/dom-ant-mobile-footer-bg.jpg") repeat-x center top;

		.portfolio-footer{

			&__site{
				background: url("images/portfolio-footer__site--white.png") no-repeat 0 5px;
				color: #fff;
			}
		}
	}

	&--sdelay-delo-mobile{
		min-height: 280px;
		background: #e6eaf6;

		.portfolio-footer__logo{
			margin-top: 110px;
		}
	}

	&--amrest-business-school{
		min-height: 280px;
		background: #efefef;

		.portfolio-footer__logo{
			margin-top: 110px;
		}
	}
}
/*end of portfolio-footer*/