/*sdelay-delo-mobile*/
.sdelay-delo-mobile{

	&__promo{
		margin: 0 auto;
		padding: 60px 0 0;
		box-sizing: border-box;
		min-width: 1260px;
		min-height: 533px;
		background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__promo-bg-2.png") no-repeat right top,
								url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__promo-bg-3.png") no-repeat 65px center,
								url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__promo-bg-1.jpg") repeat center top;

		&-wrapper{
			margin: 0 auto;
			max-width: 1920px;
		}

		h2{
			margin: 0 auto 65px;
			padding: 0 380px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 36px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		p{
			margin: 0 auto;
			padding: 0 430px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}
	}

	&__features{
		min-width: 1260px;
		background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-bg.jpg") repeat center top,
								url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-bg-1.png") repeat right top;
		position: relative;

		&-header{
			margin: 0 auto;
			min-height: 139px;
			min-width: 1260px;
			background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-header-bg-1.png") repeat-x center top,
									url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-bg-1.png") no-repeat right top,
									url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__promo-bg-1.jpg") repeat center top;
		}

		&-bag{
			position: absolute;
			top: 70px;
			right: 110px;
		}

		&-wrapper{
			margin: 0 auto;
			padding: 30px 0 0;
			box-sizing: border-box;
			background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__features-wrapper-bg-1.jpg") no-repeat center top;
			min-width: 1260px;
			min-height: 1734px;
		}

		&-list{
			margin: 0 auto;
			width: 1245px;

			li{

				h2{
					margin: 0 0 40px;
					font-family: Verdana, Helvetica, sans-serif;
					font-size: 60px;
					line-height: 1.2em;
					font-weight: 400;
					color: #363636;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
					text-align: left;
				}

				h3{
					margin: 0 0 25px;
					font-family: Verdana, Helvetica, sans-serif;
					font-size: 36px;
					line-height: 1.2em;
					font-weight: 400;
					color: #363636;
					text-transform: none;
					text-decoration: none;
					letter-spacing: -.05em;
					text-align: left;
				}

				p{
					margin: 0;
					font-family: Verdana, Helvetica, sans-serif;
					font-size: 18px;
					line-height: 1.2em;
					font-weight: 400;
					color: #363636;
					text-transform: none;
					text-decoration: none;
					letter-spacing: 0;
					text-align: left;
					font-style: italic;
				}

				&:first-child{
					margin: 0 0 70px;
					min-height: 480px;
					width: 290px;
					display: block;
					float: left;
					clear: both;
				}

				&:nth-child(2){
					margin: 0 0 225px;
					min-height: 320px;
					width: 280px;
					float: right;
					clear: both;
				}

				&:last-child{
					margin: 0;
					min-height: 300px;
					width: 280px;
					float: right;
					clear: both;
				}
			}
		}
	}

	&__forms{
		background: #afafaf;

		&-wrapper{
			margin: 0 auto;
			padding: 160px 0 0;
			box-sizing: border-box;
			max-width: 1366px;
			min-width: 1260px;
			min-height: 1238px;
			background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__forms.jpg") no-repeat center top;

			h2{
				margin: 0 auto;
				width: 1200px;
				font-family: Verdana, Helvetica, sans-serif;
				font-size: 60px;
				line-height: 1.2em;
				font-weight: 400;
				color: #fff;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: left;
			}
		}
	}

	&__map{
		background: #ffd54f;

		&-wrapper{
			margin: 0 auto;
			padding: 150px 0 0;
			box-sizing: border-box;
			max-width: 1366px;
			min-width: 1260px;
			min-height: 696px;
			background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__map.jpg") no-repeat center top;
		}

		&-text{
			margin: 0 auto;
			width: 1200px;
		}

		h2{
			margin: 0 0 70px;
			width: 450px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 48px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}

		p{
			margin: 0;
			width: 450px;
			font-family: Ubuntu-Regular, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
		}
	}

	&__pages{
		background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__pages-bg-1.jpg") repeat center bottom;

		&-wrapper{
			margin: 0 auto;
			max-width: 1366px;
			min-width: 1260px;
			min-height: 794px;
			background: url("images/portfolio-sdelay-delo-mobile/sdelay-delo-mobile__pages.jpg") no-repeat center top;
		}
	}
}
/*end of sdelay-delo-mobile*/