/*shipstores-portfolio-header*/
.shipstores-portfolio-header{
	min-height: 130px;
	padding: 45px 0 0;
	box-sizing: border-box;
	text-align: center;
	background: url("images/shipstores-portfolio-header__bg.jpg") repeat center top;
}
/*end of shipstores-portfolio-header*/