/*shipstores-portfolio*/
.shipstores-portfolio{
	margin: 0 auto;
	min-width: 1260px;

	p{
		padding: 0;
	}

	&__promo{
		margin: 0;
		padding: 45px 0 0;
		box-sizing: border-box;
		background: url("images/portfolio-shipstores/shipstores-portfolio__promo-bg-1.jpg") repeat-x center top/100%,
								#f2f2f2;

		&-text{
			margin: 0 auto;
			padding: 60px;
			box-sizing: border-box;
			width: 735px;
			text-align: center;
			background: rgba(12,33,74,.45);

			h2{
				margin: 0 0 35px;
				font-family: Ubuntu-Regular, Helvetica, sans-serif;
				font-size: 36px;
				line-height: 1.2em;
				font-weight: 400;
				color: #fff;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}

			p{
				margin: 0 auto;
				font-family: Ubuntu-Regular, Helvetica, sans-serif;
				font-size: 18px;
				line-height: 1.2em;
				font-weight: 400;
				color: #fff;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
			}
		}

		&-tablet{
			margin: -45px auto 0;
			padding: 0 0 0 50%;
			box-sizing: border-box;
			line-height: 0;
			min-width: 1260px;
			overflow: hidden;

			img{
				margin: 0 0 0 -683px;
				display: block;
			}
		}

		&-screen{
			margin: -850px auto 0;
			background: #f2f2f2;
			line-height: 0;
			text-align: center;
		}
	}

	&__development{
		padding: 80px 0 155px;
		background: #f2f2f2;
		text-align: center;
		position: relative;

		&::after{
			content: '';
			position: absolute;
			bottom: -115px;
			left: 0;
			right: 0;
			height: 215px;
			background: url("images/portfolio-shipstores/shipstores-portfolio__development-waves.png") repeat-x center 0;
		}

		h2{
			margin: 0 0 55px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 60px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
		}

		p{
			margin: 0 auto 30px;
			padding: 0 120px;
			box-sizing: border-box;
			max-width: 1920px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			font-style: italic;

			&:last-child{
				margin: 0 auto;
			}
		}
	}
	
	&__interface{
		padding: 145px 0 0;
		box-sizing: border-box;
		background: url("images/portfolio-shipstores/shipstores-portfolio__interface-bg-1.jpg") repeat-x center top;
		line-height: 0;

		h2{
			margin: 0 0 70px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 48px;
			line-height: 1.2em;
			font-weight: 700;
			color: #576cb9;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;

			&.grey{
				color: #afafaf;
			}
		}

		p{
			margin: 0 auto;
			width: 1180px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.5em;
			font-weight: 400;
			color: #000;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: left;
			font-style: italic;
		}

		&-structure,
		&-elements,
		&-icons{
			margin: 70px auto 60px;
			display: block;
		}

		&-comment{
			margin: 70px auto 0;
			padding: 0 0 20px;
			width: 1140px;

			p{
				margin: 15px 0 0;
				float: left;
				width: 900px;

				b{
					margin: 0 0 10px;
					display: block;
				}
			}

			img{
				display: block;
				float: right;
				max-width: 152px;
			}
		}
	}
	
	&__posibilities{
		padding: 165px 0 0;
		min-height: 2800px;
		background: url("images/portfolio-shipstores/shipstores-portfolio__posibilities-bg-1.png") no-repeat center top/100% 125px,
								url("images/portfolio-shipstores/shipstores-portfolio__posibilities-bg-4.png") repeat-x center bottom,
								url("images/portfolio-shipstores/shipstores-portfolio__posibilities-bg-2.png") repeat-x center top,
								url("images/portfolio-shipstores/shipstores-portfolio-header__bg-4.jpg") repeat center top;

		&-auction{
			margin: 0 auto;
			padding: 0 50px 0;
			box-sizing: border-box;
			max-width: 1366px;
			min-height: 1000px;
			line-height: 0;
			background: url("images/portfolio-shipstores/shipstores-portfolio__posibilities-auction-mask.png") no-repeat right 490px,
									url("images/portfolio-shipstores/shipstores-portfolio__posibilities-bg-3.png") no-repeat 35px top;

			h2{
				margin: 0 0 40px;
				float: right;
				clear: both;
				width: 320px;
				font-family: Verdana, Helvetica, sans-serif;
				font-size: 48px;
				line-height: 1.2em;
				font-weight: 700;
				color: #0b68e4;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: left;
			}

			p{
				margin: 0;
				float: right;
				clear: both;
				width: 320px;
				font-family: Verdana, Helvetica, sans-serif;
				font-size: 18px;
				line-height: 1.5em;
				font-weight: 400;
				color: #2078e7;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				font-style: italic;
				text-align: left;
			}
		}

		&-finance{
			margin: 0 0 145px;
			text-align: center;
			line-height: 0;

			h2{
				margin: 0 0 55px;
				font-family: Verdana, Helvetica, sans-serif;
				font-size: 48px;
				line-height: 1.2em;
				font-weight: 700;
				color: #fff;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: center;
			}

			&-form{
				margin: 0;
				display: inline-block;
				vertical-align: top;
				box-shadow: 0 0 10px 5px rgba(0,0,0,.25);
			}
		}

		&-security{
			margin: 0 auto;
			text-align: right;
			line-height: 0;
			max-width: 1920px;

			h2{
				margin: 0 auto;
				width: 1150px;
				font-family: Verdana, Helvetica, sans-serif;
				font-size: 66px;
				line-height: 1.2em;
				font-weight: 700;
				color: #898989;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0;
				text-align: left;
			}

			&-form{
				margin: -70px 40px 0 0;
				display: inline-block;
				vertical-align: top;
				box-shadow: 0 0 10px 5px rgba(0,0,0,.25);
			}
		}
	}

	&__bonus{
		margin: 0 auto;
		padding: 40px 0 65px;
		box-sizing: border-box;
		background: url("images/portfolio-shipstores/shipstores-portfolio-header__bg-4.jpg") repeat center top;
		line-height: 0;

		h2{
			margin: 0 0 70px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 48px;
			line-height: 1.2em;
			font-weight: 700;
			color: #898989;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
		}

		p{
			margin: 0 auto 55px;
			padding: 0 50px;
			box-sizing: border-box;
			max-width: 1920px;
			font-family: Verdana, Helvetica, sans-serif;
			font-size: 18px;
			line-height: 1.2em;
			font-weight: 400;
			color: #5d5d5d;
			text-transform: none;
			text-decoration: none;
			letter-spacing: 0;
			text-align: center;
			font-style: italic;
		}

		img{
			margin: 0 auto;
			display: block;
		}
	}

	&__slider{
		padding: 120px 0 0;
		box-sizing: border-box;
		min-height: 1253px;
		background: url("images/portfolio-shipstores/shipstores-portfolio__slider-bg-1.png") repeat-x center top,
								url("images/portfolio-shipstores/shipstores-portfolio-header__bg-4.jpg") repeat center top;
		text-align: center;

		&-wrapper{
			margin: 0 0 0 700px;
			padding: 0;
			display: inline-block;
			vertical-align: top;
			list-style: none;
			width: 387px;
			height: 386px;
			overflow: hidden;
			border-radius: 50%;
			line-height: 0;
			background: url("images/portfolio-shipstores/shipstores-portfolio__slider-bg.png") no-repeat center top;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: url("images/portfolio-shipstores/shipstores-portfolio__slider-bg-2.png") no-repeat center top;
			}

			li{
				padding: 95px 0 0 50px;
				box-sizing: border-box;
				min-width: 387px;
				text-align: left;
				position: absolute;
				top: 0;

				&:first-child{
					left: 0;
				}

				&:nth-child(2){
					left: -387px;
				}

				&:last-child{
					left: -774px;
				}

				img {
					margin: 0 20px 0 0;
					display: inline-block;
					vertical-align: middle;
				}

				h3 {
					margin: 0;
					display: inline-block;
					vertical-align: middle;
					font-family: NeueHaasUnicaW1G-Medium, Helvetica, sans-serif;
					font-size: 24px;
					line-height: 1.2em;
					font-weight: 400;
					color: #000;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 0;
					text-align: left;
				}

				p{
					margin: 20px 0 0;
					padding: 0;
					width: 290px;
					//position: absolute;
					//top: 210px;
					//left: 50px;
					font-family: NeueHaasUnicaW1G-Light, Helvetica, sans-serif;
					font-size: 16px;
					line-height: 1.2em;
					font-weight: 400;
					color: #000;
					text-transform: none;
					text-decoration: none;
					letter-spacing: -.01em;
					text-align: left;
				}
			}
		}
	}
}
/*end of shipstores-portfolio*/